[submodule "Peanut-GB"]
	path = external/cores/Peanut-GB
	url = https://github.com/deltabeard/Peanut-GB.git
[submodule "external/misc/Adafruit-GFX-Library"]
	path = external/misc/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "external/cores/SameBoy"]
	path = external/cores/SameBoy
	url = https://github.com/Cpasjuste/SameBoy.git
[submodule "external/cores/Gearsystem"]
	path = external/cores/Gearsystem
	url = https://github.com/drhelius/Gearsystem
[submodule "external/cores/InfoNES"]
	path = external/cores/InfoNES
	url = https://github.com/Cpasjuste/pico-infones.git
