[submodule "external/cores/Peanut-GB"]
	path = external/cores/Peanut-GB
	url = https://github.com/deltabeard/Peanut-GB.git
[submodule "external/cores/SameBoy"]
	path = external/cores/SameBoy
	url = https://github.com/Cpasjuste/SameBoy.git
[submodule "external/cores/Gearsystem"]
	path = external/cores/Gearsystem
	url = https://github.com/drhelius/Gearsystem
[submodule "external/cores/InfoNES"]
	path = external/cores/InfoNES
	url = https://github.com/Cpasjuste/pico-infones.git
[submodule "external/misc/libpico2d"]
	path = external/misc/libpico2d
	url = git@github.com:Cpasjuste/libpico2d.git
